<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4 text-primary"><%= @post.title %></h1>
        <p class="lead"><%= @post.body %></p>
        <hr class="my-4">
      </div>
    </div>
  </div>
</div>